@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Gothic A1', sans-serif;
}

ul {
  padding: 0 0 0 30px;
}

li:not(.empty) {
  padding: 5px 0;
  cursor: pointer;
  transition: 0.4s all;
  color: #333;
  font-size: 14px;
}

li:not(.empty):hover {
  opacity: 0.6;
  text-decoration: underline;
}

.left {
  width: 20%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  border-right: 2px solid #ddd;
  min-height: 100vh;
}

.right {
  width: 80%;
  float: right;
}

.title {
  font-weight: 900;
  font-size: 22px;
  padding: 0;
  margin: 0;
  color: #ef7ca4;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.sub-title {
  color: #333;
  font-size: 16px;
}

.live {
  padding-top: 10px;
}

.completed {
  padding-top: 5px;
}

.empty {
  font-size: 14px;
  color: #999;
}

.time-elapsed {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.time-elapsed strong {
  color: white;
  display: block;
  padding: 20px 40px;
  border-radius: 40px;
  transition: 0.5s all;
  font-weight: 100;
  font-size: 26px;
  background: #fea443;
}

.time-elapsed .active {
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0%   { background-color: #84d3a8; }
  100% { background-color: #35b06c; }
}